body, html {
    height: 100%;
}

/* Header */

.top-banner {
    height: 4rem;

    text-align: center;
    padding-top: 1em;

    color:#fffff0;
    background-color: #575757;

    text-transform: uppercase;
}

/* Index.html button */
.button-positioning {
    padding-top: 7em;
    justify-content: center;
}

.btn--index {
    background-color: #a74b27;
    color: #fffff0;

    border: 1px solid #a74b27;
    border-radius: 0.8em;

    height: 4em;
    width: 7em;

    padding-top: 1.25em;
    
    opacity: 0.9;
}

.btn--index:hover,
.btn--index:active,
.btn--index:focus,
.btn--index:active:focus {
    color: #a74b27;
    background-color: #fffff0;
    opacity: 0.9;
}

/* Index.html hero image */
.hero-image {
    background: url("../images/nba-east-west.jpeg") no-repeat center fixed; 
    background-size: cover;
    
    height: 85vh;

    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;
}

/* Footer */
footer {
    background-color: #a74b27;
    color: #fffff0;

    border: 1px solid #a74b27;
    margin: 0;
    
    position: relative;
}

.social-media {
    word-spacing: 1em;
    text-align: center;
    padding-right: 2em;
}

.social-media li a i {
    font-size: 1.5em;
    
    padding: 1em;

    color: #fffff0;

}
