@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Lato&display=swap');

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

h1,h4 {
    font-family: 'Gentium Book Basic', sans-serif;
}

/* Header */

.top-banner {
    height: 4rem;

    text-align: center;
    padding-top: 1em;

    color:#fffff0;
    background-color: #767575;

    text-transform: uppercase;
}

.top-banner:hover {
    cursor: pointer;
}

.header-title {
    color: #fffff0;

    text-decoration: none;
}

.header-title:hover {
    color: #fffff0;
}

/* Index.html button */
.button-positioning {
    padding-top: 7em;
    justify-content: center;
}

.btn--index {
    background-color: #a74b27;
    color: #fffff0;

    border: 1px solid #a74b27;
    border-radius: 1em;

    width: 10em;
    height: 4em;

    padding-top: 1.25em;
}

.btn--index:hover,
.btn--index:active,
.btn--index:focus,
.btn--index:active:focus {
    color: #a74b27;
    background-color: #fffff0;
    border-color: #fffff0;
}

/* Hero image's */
.hero-image {
    background: url("../images/nba-east-west.jpeg") no-repeat center; 
    background-size: cover;
    
    height: 86vh;

    display: flex;

    align-items: center;
    justify-content: center;
}

.hero-image-easy-game {
    background: url("../images/basketball-court-2.png") no-repeat center scroll; 
    background-size: cover;
    
    height: 100%;

    position: relative;
    z-index: 1;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: -1;
}

/* Modal */
.modal-dialog {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10em;

    text-align: center;
}

.modal-content {
    border-radius: 1.5em;

    background-image: radial-gradient(#d0937b, #dc7249);

    padding-left: 1em;
    padding-right: 1em;
}

.modal-title {
    padding-left: 7.5em;
}

.modal-button {
    background-color: #a74b27;
    color: #fffff0;

    border: 1px solid #a74b27;
    border-radius: 1em;

    width: 10em;
    height: 3em;

    border-radius: 1em;

    text-decoration: none;

    margin: 1em;
}

.modal-button:hover,
.modal-button:active,
.bmodal-button:focus,
.modal-button:active:focus {
    color: #a74b27;
    background-color: hsl(60, 100%, 97%);
    border-color: #fffff0;
    cursor: pointer;
}


.game-difficulty {
    list-style: none;
    padding: 0;
}

.contact-form {
    margin-bottom: 1em;
}

#content {
    display: block;
}

.game-button {
    padding-top: 2.5%;
}

/* Game styling */

.score-header {
    text-align: right;
    
    font-family: 'Gentium Book Basic', sans-serif;;
    font-size: 2em;

    color: #fffff0;
    
    padding-top: 1em;
}

.timer-header {
    text-align: right;
    
    font-family: 'Gentium Book Basic', sans-serif;
    font-size: 2em;

    color: #fffff0;
    
    padding-top: 1em;
}

/* Overlay text */ /* credited youtuber web dev simplified in readme.MD */

.text-overlay {
    display: none;

    position: fixed;

    align-items: center;
    justify-content: center;

    z-index: 1;

    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;

    color: #fffff0;
    font-family: 'Gentium Book Basic', sans-serif;

    text-transform: uppercase;
}

.small-text-overlay {
    font-size: .25em;
}

.text-overlay.visible {
    display: flex;
    flex-direction: column;
    animation: text-growth 500ms forwards;
}

@keyframes text-growth {
    from {
        background-color: rgba(118, 117, 117,);
    }
    to {
        background-color: rgba(118, 117, 117, .85);
        font-size: 6em;
        font-style: italic;
    }
}

/* Music button */

#music-button {
    margin-left: 2em;
    margin-top: 1.5em;
    width: 3em;
    height: 3em;
}

/* Easy game grid */
.easy-game-grid {
    display: grid;

    grid-template-columns: repeat(4, auto);
    grid-gap: 1.8em;

    justify-content: center;
    
}

.game-card {
    background-color: black;

    width: 12em;
    height: 12em;

    position: relative;

    padding-left: 0em;

    border: 2px #fffff0 solid;
}

.back-card {
    background: url("../images/logo-basketball-nba-wallpaper-thumb.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;   
}

.new-york {
    background: url("../images/knicks.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.boston-celtics {
    background: url("../images/celtics.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.brooklyn-nets {
    background: url("../images/nets.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.toronto-raptors {
    background: url("../images/toronto.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.chicago-bulls {
    background: url("../images/bulls.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.cleveland-cavs {
    background: url("../images/cleveland.png") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.dallas-mavs {
    background: url("../images/dallas-mavs.png") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.ph-76 {
    background: url("../images/76.png") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.la-lakers {
    background: url("../images/lakers.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

.golden-state {
    background: url("../images/golden-state-warriors-new-logo.jpeg") no-repeat center;
    background-size: cover;

    width: 100%;
    height: 100%;

    position: absolute;
}

/* Card Rotation */
.game-card.visible .front-card {
    transform: rotateY(0);
}

.game-card.visible .back-card {
    transform: rotateY(90deg);
}

/* Footer */
footer {
    background-color: #a74b27;
    color: #fffff0;

    border: 1px solid #a74b27;

    padding-bottom: 0.2em;
    margin: 0;
    
    position: relative;
}

.social-media {
    word-spacing: 1em;

    text-align: center;

    padding-right: 2em;
}

.social-media li a i {
    font-size: 1.5em;
    
    padding: 1em;

    color: #fffff0;

}
/* Media queries Index Html */
@media screen and (max-width: 1600px) {
    .hero-image {
       width: 100%;
       height: 90vh;
    }
}

@media screen and (min-width: 500px) {
    .modal-title {
        padding-right: 5%;
    }
}

/* Media queries Easy Game*/
@media only screen and (max-width: 1450px){
    .hero-image-easy-game {
        height: 100%;
    }

    .game-container {
        min-height: 90vh;
        padding-top: 2em;
    }

    .easy-game-grid {
        grid-template-columns: repeat(4,auto);
        height: 100%;
    } 
}

@media screen and (max-width: 900px) {
    .easy-game-grid {
        grid-template-columns: repeat(2, auto);

    }
    .score-header {
        text-align: right;
        padding-left: 2em;
    }
}