body, html {
    height: 100%;
}
/* Index.html hero image */
.hero-image {
    background: url("../images/nba-east-west.jpeg") no-repeat center right scroll; 
    background-size: cover;
    
    height: 90vh;

    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;
}

/* Footer */
footer {
    background-color: #a74b27;
    color: #fffff0;

    border: 1px solid #a74b27;
    margin: 0;
    padding: 0.5rem;
}

.social-media {
    word-spacing: 1rem;
    text-align: center;
    padding-right: 2rem;
}

.social-media li a i {
    font-size: 1.5rem;
    
    padding: 1rem;

    color: #fffff0;

}
